20230529 - FIA - NiFi_Flow.json
{"flowContents":{"identifier":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0c830bd1-0a53-3335-b10d-6a356272e91a","name":"FetchS3Object","comments":"","position":{"x":736.0,"y":8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{s3_cloud_access_id}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"#{s3_cloud_bucket}","Version":null,"Communications Timeout":"30 secs","Region":"us-east-1","Secret Key":"#{s3_cloud_id_secret}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"0177dd2d-f016-3cf9-ade9-90fbd482d057","name":"LogAttribute","comments":"","position":{"x":128.0,"y":448.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"3a198375-03e1-32eb-b633-1d2ca2756b8e","name":"DeleteAzureBlobStorage","comments":"","position":{"x":736.0,"y":448.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.azure.storage.DeleteAzureBlobStorage","properties":{"delete-snapshots-option":"NONE","blob":"${filename}","storage-endpoint-suffix":null,"proxy-configuration-service":null,"storage-credentials-service":null,"container-name":"#{s3_cloud_bucket}"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"delete-snapshots-option":{"name":"delete-snapshots-option","displayName":"Delete Snapshots Option","identifiesControllerService":false,"sensitive":false},"blob":{"name":"blob","displayName":"Blob","identifiesControllerService":false,"sensitive":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Common Storage Account Endpoint Suffix","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"storage-credentials-service":{"name":"storage-credentials-service","displayName":"Storage Credentials","identifiesControllerService":true,"sensitive":false},"container-name":{"name":"container-name","displayName":"Container Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"a57c3149-5e25-3689-8275-3665233c1e99","name":"PutAzureBlobStorage","comments":"","position":{"x":736.0,"y":232.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.azure.storage.PutAzureBlobStorage","properties":{"cse-key-id":null,"blob":"${filename}","storage-endpoint-suffix":null,"proxy-configuration-service":null,"azure-create-container":"true","storage-credentials-service":null,"container-name":"#{s3_cloud_bucket}","cse-key-type":"NONE"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"cse-key-id":{"name":"cse-key-id","displayName":"Client-Side Encryption Key ID","identifiesControllerService":false,"sensitive":false},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"blob":{"name":"blob","displayName":"Blob","identifiesControllerService":false,"sensitive":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Common Storage Account Endpoint Suffix","identifiesControllerService":false,"sensitive":false},"cse-symmetric-key-hex":{"name":"cse-symmetric-key-hex","displayName":"Symmetric Key","identifiesControllerService":false,"sensitive":true},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"azure-create-container":{"name":"azure-create-container","displayName":"Create Container","identifiesControllerService":false,"sensitive":false},"storage-credentials-service":{"name":"storage-credentials-service","displayName":"Storage Credentials","identifiesControllerService":true,"sensitive":false},"container-name":{"name":"container-name","displayName":"Container Name","identifiesControllerService":false,"sensitive":false},"cse-key-type":{"name":"cse-key-type","displayName":"Client-Side Encryption Key Type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"6cbbd683-f035-35d8-acac-0201a55ce1a1","name":"ListS3","comments":"","position":{"x":136.0,"y":8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.aws.s3.ListS3","properties":{"write-s3-user-metadata":"false","Proxy Host":null,"list-type":"1","Access Key":"#{s3_cloud_access_id}","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Signer Override":"Default Signature","Bucket":"#{s3_cloud_bucket}","delimiter":null,"Communications Timeout":"30 secs","Region":"us-east-1","Secret Key":"#{s3_cloud_id_secret}","Credentials File":null,"min-age":"10 sec","proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c237dda7-2165-3bf2-afb5-829ec5c8a261","name":"","source":{"id":"6cbbd683-f035-35d8-acac-0201a55ce1a1","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"ListS3","comments":""},"destination":{"id":"0c830bd1-0a53-3335-b10d-6a356272e91a","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"FetchS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"2a9194fa-3980-3e5c-835f-28b194e30d85","name":"","source":{"id":"a57c3149-5e25-3689-8275-3665233c1e99","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"PutAzureBlobStorage","comments":""},"destination":{"id":"3a198375-03e1-32eb-b633-1d2ca2756b8e","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"DeleteAzureBlobStorage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"3b02add8-8958-3966-bbf3-867666c52a1e","name":"","source":{"id":"0c830bd1-0a53-3335-b10d-6a356272e91a","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"FetchS3Object","comments":""},"destination":{"id":"a57c3149-5e25-3689-8275-3665233c1e99","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"PutAzureBlobStorage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"23b0d54d-7d01-3b49-9f8e-45ed15dbed06","name":"","source":{"id":"3a198375-03e1-32eb-b633-1d2ca2756b8e","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"DeleteAzureBlobStorage","comments":""},"destination":{"id":"3a198375-03e1-32eb-b633-1d2ca2756b8e","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"DeleteAzureBlobStorage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1209.891845703125,"y":504.0},{"x":1209.891845703125,"y":544.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"d0967624-7353-3b6e-96d1-5aa169bb26f9","name":"","source":{"id":"a57c3149-5e25-3689-8275-3665233c1e99","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"PutAzureBlobStorage","comments":""},"destination":{"id":"a57c3149-5e25-3689-8275-3665233c1e99","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"PutAzureBlobStorage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1200.8904418945312,"y":288.0},{"x":1203.111328125,"y":318.6069793701172}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"0dacf7bd-8e68-3826-beb4-5168bb5e58ef","name":"","source":{"id":"0c830bd1-0a53-3335-b10d-6a356272e91a","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"FetchS3Object","comments":""},"destination":{"id":"0c830bd1-0a53-3335-b10d-6a356272e91a","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"FetchS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1206.8876342773438,"y":67.0041618347168},{"x":1206.8876342773438,"y":99.0041618347168}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"},{"identifier":"9655e842-406b-37db-9d7c-f0a0b86a5c60","name":"","source":{"id":"3a198375-03e1-32eb-b633-1d2ca2756b8e","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"DeleteAzureBlobStorage","comments":""},"destination":{"id":"0177dd2d-f016-3cf9-ade9-90fbd482d057","type":"PROCESSOR","groupId":"d624fee8-8521-36a2-af42-d955f2eb5a97","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d624fee8-8521-36a2-af42-d955f2eb5a97"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"FIA","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"FIA":{"name":"FIA","parameters":[{"name":"s3_cloud_bucket","description":"","sensitive":false,"value":"olist-ead"},{"name":"s3_cloud_access_id","description":"","sensitive":true},{"name":"s3_cloud_id_secret","description":"","sensitive":true}],"inheritedParameterContexts":[]}},"flowEncodingVersion":"1.0"}